@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #d8d5d5;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  margin: 1.5rem;

  font-size: 4.2vh;
  font-weight: 700;

  text-align: center;
}

#img-div {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1vh;
}

#image {
  width: 1024px;
  height: auto;

  max-width: 100%;

  border-radius: 5px;
  box-shadow: 2px 2px 2px #636363;
}

#img-caption {
  font-size: 2vh;

  font-style: italic;
  font-weight: 400;

  text-align: center;
}

#tribute-info {
  margin: 1vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 2vh;

  list-style: none;
}

blockquote {
  width: 50%;
}

footer {
  padding: 5vh;

  background-color: black;
  color: white;

  text-align: center;
}

footer a {
  color: white;
}

@media only screen and (max-width: 768px) {
  blockquote {
    width: 90%;
  }
}
